<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='navbar-nav'>
    <nav class="navbar navbar-light bg-light justify-content-between">
  <h1 class="navbar-brand"><%= link_to 'VicBnB', flats_path %></h1>
  <form class="form-inline" action="/flats" method="get">
    <input class="form-contro" type="search" name="search" placeholder="Search by Reference" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
  </div>

    <%= yield %>
  </body>
</html>
